body {
    color: #999;
}

.board {
    display: flex;
	flex-wrap: wrap;
	width: 70vmin;
	height: 70vmin;
	margin: 0 auto;
}

.hole{
    width: 25%;
	height: 25%;
	box-sizing: border-box;
	background-color: #999;
    border-radius: 50%;
}

.goblin{
    width: 100%;
    height: 100%;
    background-image: url(/src/img/goblin.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}